/* custom-tree.css */

.node__root > circle {
    fill: #2ee3c7;
}

.node__branch > circle {
    fill: #0e9d7b;
}

.node__leaf > circle {
    fill: #0e9d7b;
    /* Let's also make the radius of leaf nodes larger */
    r: 40;
}